:root {
    --dark-gray-hex: #323848;
    --dark-gray-rgb: 50, 56, 72;
    --orange-hex: #f79233;
    --orange-rgb: 247, 146, 51;
    --white-hex: #fff;
    --white-rgb: 255, 255, 255;
    --error-hex: #ff6467;
    --error-rgb: 255, 100, 103;
}

body {
    background: var(--white-hex);
    color: var(--dark-gray-hex);
    font-size: 16px;
    font-family: "DM Sans", Arial, sans-serif;
    margin: 0;
    padding: 10px 20px;
    /* ---------------------------------------------------------------- */
    /* styles to keep footer at the bottom, regardless of screen height */
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 20px); /* subtract vertical padding from vh */
}

/* ------------------------------- */
/* ----- HEADER & NAV STYLES  -----*/
header {
    position: relative;
    display: flex;
    gap: 2em;
    justify-content: space-between;
    padding: 20px 40px;
    border-radius: 0.5em;
    background-color: var(--orange-hex);
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);

    @media (max-width: 950px) {
        padding: 20px;
    }
}

.menu-btn {
    order: 1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);
}

.menu-btn img {
    width: 30px;
    height: auto;
}

/* shrink menu-btn and img on extra small screens */
@media (max-width: 350px) {
    .menu-btn {
        width: 50px;
        height: 50px;
    }

    .menu-btn img {
        width: 25px;
    }
}

.navigation {
    flex-grow: 1;
    margin-left: auto;
    opacity: 0; /* initially invisible */
    pointer-events: none;
    transition: opacity 300ms ease, transform 300ms ease;

    @media screen and (max-width: 950px) {
        position: absolute;
        top: 100%;
        left: 0;
        width: calc(100% - 20px);
        transform: translate(0, -2em);
    }

    /* when menu becomes visible */
    &.visible {
        opacity: 1; /* make the menu visible */
        pointer-events: auto;
        transform: translate(0, 0);

        @media screen and (max-width: 950px) {
            transform: translate(0, 0);
        }
    }
}

.navigation-list {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.8em;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.navigation-list li {
    display: flex;
    align-items: center;
    height: 100%;
}

.navigation-list li a {
    text-decoration: none;
    color: var(--white-hex);
    font-weight: 700;
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 950px) {
    .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        width: calc(100% - 20px);
        transform: translate(0, -2em);
        background-color: var(--orange-hex);
        border-radius: 0.5em;
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation-list {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 1.8em;
        justify-content: center;
        align-items: center;
    }

    .navigation-list li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .navigation-list li a {
        text-decoration: none;
        color: var(--white-hex);
        font-weight: 700;
        font-size: 24px;
        display: flex;
        align-items: center;
        height: auto;
        padding: 30px;
    }
}

.btn {
    display: inline-block;
    padding: 0.8em 1.5em;
    border: 1px solid;
    border-radius: 3em;
    color: currentcolor;
    text-decoration: none;
    transition: 0.1s;

    &:hover,
    &:focus {
        background-color: orange;
        color: white;
    }
}

.content-container {
    margin-block: 0;
    font-size: 1.25em;
    line-height: 1.6em;

    @media screen and (max-width: 950px) {
        font-size: 1em;
    }

    & + .btn-wrapper {
        margin-top: 1rem;
    }
}

.section-title {
    margin-block: 0;
    font-weight: 700;
    font-size: 3.75em;

    & + .content-container {
        margin-top: 1rem;
    }
}

/* MEDIA QUERIES FOR SECTION TITLE */
@media (max-width: 1250px) {
    .section-title {
        font-size: 3em;
    }
}

@media (max-width: 1000px) {
    .section-title {
        font-size: 2.5em;
    }
}

@media (max-width: 731px) {
    .section-title {
        font-size: 1.8em;
    }
}

@media (max-width: 500px) {
    .section-title {
        font-size: 1.5em;
    }
}

.section-subtitle {
    margin-block: 0;
    font-weight: 500;
    font-size: 21px;

    & + .section-title {
        margin-top: 0.5rem;
    }
}

button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

#menu {
    padding: 10px;
}

/* ------------------------------------------------ */
/* ----- Footer and Back to Top button styles  -----*/
footer {
    position: relative;
    padding: 20px;
    border-radius: 0.5em;
    background-color: var(--dark-gray-hex);
    color: var(--white-hex);
    text-align: center;
    margin-top: auto; /* pushes the footer to the bottom */
}

footer p {
    line-height: 24px;
    font-weight: 400;
}

#back-to-top {
    position: absolute;
    top: -20px;
    right: 40px;
    background-color: var(--orange-hex);
    padding: 15px;
    border-radius: 50%;
    display: none; /* initially hidden */
    width: 20px;
    height: 20px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);

    /* position the arrow in the middle */
    @media screen and (max-width: 731px) {
        top: -20px;
        left: 50%;
        transform: translateX(
            -50%
        ); /* Offset the left position by half of the button's width to truly center it (ChatGPT for the win) */
    }
}

#back-to-top img {
    object-fit: contain; /* make the image scale properly */
    width: 15px;
    height: auto;
    filter: brightness(0) invert(1); /* make the arrow white */
}

section {
    padding: 4em 0;
}

section:not(:first-child) {
    margin-top: -4em;
}

.width-container {
    max-width: 1400px;
    margin: 0 auto;
    padding-inline: 3em;

    @media screen and (max-width: 1000px) {
        padding-inline: 2em;
    }

    @media screen and (max-width: 700px) {
        padding-inline: 1em;
    }
}

.content {
    .width-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em 4em;
        align-items: center;

        @media screen and (max-width: 950px) {
            grid-template-columns: 1fr;
        }
    }
}

.content img {
    border-radius: 24px;
}

/* ----------------------- */
/* ----- FORM STYLES ----- */
.form-section {
    .width-container {
        display: flex;
        flex-direction: column;
        gap: 4em;
        max-width: 612px;
    }
}

#contact-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

/* spacing between form button and email input */
#contact-form > *:last-child {
    margin-top: -0.8em;
}

/* adjust form styles for non-mobile */
@media (min-width: 500px) {
    #contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact-form input {
        width: 100%;
    }

    .form-section {
        text-align: center;
    }
}

#contact-form label {
    display: none;
}

#contact-form input {
    border: 1px solid var(--dark-gray-hex);
    background-color: rgba(var(--dark-gray-rgb), 0.05);
    color: var(--dark-gray-hex);
    border-radius: 3em;
    padding: 1em;
    font-size: 16px;
}

#contact-form input::placeholder {
    color: var(--dark-gray-hex);
    font-weight: 100;
}

#contact-form input:focus {
    outline: none;
}

#contact-form input:not(:placeholder-shown):invalid {
    outline: none;
    border: 1px solid var(--error-hex);
    background-color: rgba(var(--error-rgb), 0.05);
}

#contact-form input:focus:not(:placeholder-shown):valid {
    outline: none;
    border: 1px solid var(--orange-hex);
    background-color: rgba(var(--orange-rgb), 0.05);
}

#contact-form button {
    all: unset;
    cursor: pointer;
    display: inline-block;
    padding: 0.8em 1.5em;
    border: 1px solid;
    border-radius: 3em;
    color: currentcolor;
    text-decoration: none;
    width: 50px;
    text-align: center;

    &:hover,
    &:focus {
        background-color: orange;
        color: white;
    }
}
